---
import githubLogo from "../assets/github-logo.svg";
import instagramLogo from "../assets/instagram-logo.svg";
import linkedInLogo from "../assets/linkedin-logo.svg";
import Social from "./Social.astro";

const github = {
  link: "https://github.com/amtr4x",
  logoPath: githubLogo.src,
  altText: "Github Logo",
};

const instagram = {
  link: "#",
  logoPath: instagramLogo.src,
  altText: "Instagram logo",
};

const linkedIn = {
  link: "#",
  logoPath: linkedInLogo.src,
  altText: "LinkedIn logo",
};
---

<footer>
  <ul>
    <li>
      <Social
        platform={github.link}
        iconPath={github.logoPath}
        iconAlt={github.altText}
      />
    </li>
    <li>
      <Social
        platform={instagram.link}
        iconPath={instagram.logoPath}
        iconAlt={instagram.altText}
      />
    </li>
    <li>
      <Social
        platform={linkedIn.link}
        iconPath={linkedIn.logoPath}
        iconAlt={linkedIn.altText}
      />
    </li>
  </ul>
</footer>
<style>
  ul {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }

  li:hover {
    transition-duration: 0.3s;
    scale: calc(105%);
  }

  li:active {
    transition-duration: 0.3s;
    scale: calc(95%);
  }

  img {
    width: 30px;
    height: 30px;
  }
</style>
